micronaut:
  application:
    name: auth-service
  server:
    host: localhost
    port: 8080
    cors:
      enabled: true
  security:
    authentication: bearer
    token:
      jwt:
        generator:
          access-token:
            expiration: 86400
        signatures:
          secret:
            generator:
              secret: pleaseChangeThisSecretForANewOne
---
postgres:
  host: ${PG_HOST:localhost}
  port: ${PG_PORT:5432}
  database: ${PG_DBNAME:auth}
  username: ${PG_USER:auth}
  password: ${PG_PASSWORD:auth}
  ssl: ${PG_SSL:false}
---
# This is only to allow Micronaut to bootstrap DataSource + JPA;
# overridden at runtime by PostgresDatasourceConfigurationListener#onCreated(BeanCreatedEvent<DatasourceConfiguration>)
datasources:
  default:
    driverClassName: org.postgresql.Driver
    url: "jdbc:postgresql://localhost:5432/auth"
    username: ${PG_USER:auth}
    password: ${PG_PASSWORD:auth}
    schema-generate: CREATE_DROP
---
tracing:
  zipkin:
    enabled: true
    http:
      url: "http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}"
      sampler:
        probability: 1.0 # Configuration taking 100% of the request to be processed by Zipkin. In a real production system, that could be overwhelming.