apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-api-legacy
spec:
  template:
    spec:
      containers:
        - name: chat-api-legacy
          resources:
            requests:
              memory: 512Mi
              cpu: 250m
            limits:
              memory: 1Gi
              cpu: 500m