apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-vue-legacy
spec:
  template:
    spec:
      containers:
        - name: web-vue-legacy
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 300m
              memory: 512Mi