apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: local-dev-mongodb
  namespace: local-dev-all
spec:
  members: 1
  type: ReplicaSet
  version: "8.0.12"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: root
      db: admin
      passwordSecretRef:
        name: local-dev-mongodb-root-user-creds
      roles:
        - name: clusterAdmin
          db: admin
        - name: userAdminAnyDatabase
          db: admin
        - name: readWriteAnyDatabase
          db: admin
      scramCredentialsSecretName: local-dev-mongodb
    - name: product
      db: products-demo
      passwordSecretRef:
        name: local-dev-mongodb-product-user-creds
      roles:
        - name: readWrite
          db: products-demo
      scramCredentialsSecretName: local-dev-mongodb-product
  statefulSet:
    spec:
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            accessModes: [ "ReadWriteOnce" ]
            resources:
              requests:
                storage: 1Gi
            storageClassName: "standard"
      template:
        spec:
          containers:
            - name: mongod
              resources:
                requests:
                  memory: "128Mi"
                  cpu: "100m"
                limits:
                  memory: "256Mi"
                  cpu: "250m"
            - name: mongodb-agent
              resources:
                requests:
                  memory: "128Mi"
                  cpu: "100m"
                limits:
                  memory: "256Mi"
                  cpu: "250m"
          initContainers:
            - name: mongodb-agent-readinessprobe
              resources:
                requests:
                  memory: "64Mi"
                  cpu: "50m"
                limits:
                  memory: "128Mi"
                  cpu: "100m"
