micronaut:
  application:
    name: pricing-service
  server:
    host: localhost
    port: 8080
---
jackson:
  bean-introspection-module: true
---
tracing:
  zipkin:
    enabled: true
    http:
      url: "http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}"
      sampler:
        probability: 1.0
        # Configuration taking 100% of the request to be processed by Zipkin.
        # In a real production system, that could be overwhelming.
---
postgres:
  host: ${PG_HOST:localhost}
  port: ${PG_PORT:5432}
  database: ${PG_DBNAME:pricing}
  username: ${PG_USER:pricing}
  password: ${PG_PASSWORD:pricing}
  ssl: ${PG_SSL:false}
---
# This is only to allow Micronaut to bootstrap DataSource + JPA;
# overridden at runtime by PostgresDatasourceConfigurationListener#onCreated(BeanCreatedEvent<DatasourceConfiguration>)
datasources:
  default:
    driverClassName: org.postgresql.Driver
    url: "jdbc:postgresql://localhost:5432/pricing"
    username: ${PG_USER:pricing}
    password: ${PG_PASSWORD:pricing}
---
jpa:
 default:
    packages-to-scan:
        - 'pl.altkom.asc.lab.micronaut.poc.pricing.domain'
    properties:
        hibernate:
            hbm2ddl:
                auto: update
            show_sql: true
