apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: qa-minio-document-service-monitor
  namespace: qa-minio-document
spec:
  selector: {}
  namespaceSelector:
    matchNames:
      - qa-minio-document
  endpoints:
    - port: https-minio
      path: /minio/v2/metrics/cluster
      interval: 30s
      scheme: https
      tlsConfig:
        insecureSkipVerify: true
      relabelings:
        - sourceLabels: [__meta_kubernetes_service_name]
          action: keep
          regex: minio
